<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemeStream | Share Laughs, Spark Connections!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="responsive.css">
    </head>
  <body>
    <%- include("./includes/alert.ejs") %>
    <%- include("./includes/navbar.ejs") %>
    <div class="boundary">
      <h2>Meme Box</h2>
      <div class="meme">
        <% for(let i of chats.reverse()) { %>
        <div class="card">
          <div class="card-header">
            <img class="avatar" src="<%= i.postedBy.profile %>" alt="" />
            <div class="username"><%= i.postedBy.username %></div>
          </div>
          <div class="card-main">
            <p class="User-msg"><%= i.chat %></p>
            <img src="<%=i.image%>" alt="" class="meme-img" />
          </div>
        </div>
        <%}%>
      </div>
    </div>

    <div class="guide">
      <% if(!currentUser){ %>
      <li class="loginorsignup">
        <a href="/user/login"><span>login</span> </a>or
        <a href="/user/signup"><span>signup</span></a> to view and share memes
      </li>
      <% }else{ %>
      <h2>User Guide</h2>
      <li>You can view others' memes in the right box.</li>
      <li>You can send meme using bottom chat box.</li>
      <li>
        I'm still learning, so this site isn't as polished as WhatsApp. Please
        refresh the page often to see new messages.
      </li>
      <li>Only for NSUT-ians.</li>
      <li>Have Fun.</li>
      <% } %>
    </div>

    <div class="chat">
      <% if(!currentUser){ %>
      <div class="blur">
        <span class="green">S</span>ignup Or <span class="green">L</span>ogIn to
        <br /><span class="green">C</span>ontinue<span class="green">
          &rarr;</span
        >
      </div>
      <% }else{%>
      <h4>Create the Laughs!</h4>
      <form action="/chat" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Chat Here !" name="chat" id="chat" />
        <div>
          <label for="file-upload" class="custom-file-upload">
            !! Upload Meme !!
          </label>
          <input id="file-upload" name="image" type="file" />
        </div>
        <button class="send" id="send-msg">
          Send &rarr;
          <div class="layer"></div>
        </button>
        <% } %>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket =io();
      document.querySelector("#send-msg").addEventListener("click",()=>{
        let msg = document.querySelector("#chat").value;
        socket.emit("new-msg",msg);
      })
      socket.on("msg",(msg)=>{
        let newElem=document.createElement("div");
        newElem.innerHTML=`<div class="card-header">
          <img class="avatar" src="" alt="" />
          <div class="username">${"unknown"}</div>
        </div>
        <div class="card-main">
          <p class="User-msg">Message : ${msg}</p>
          <button class="refresh">See Attested Meme!</button>
        </div>`;
        newElem.classList.add("card");
        document.querySelector(".meme").prepend(newElem);
        document.querySelector(".refresh").addEventListener("click",()=>{
          document.location.reload();
        })

      })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  </body>

